/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.user.ini
/public/Demo/*
phpunit.dusk.xml
public/favicon.ico
docs
public/baidu*
public/google*
public/fileauth*
.php_cs.cache
