/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/uploads
.user.ini
/public/Demo/*
phpunit.dusk.xml
public/favicon.ico
docs
public/sitemap.xml
public/baidu*
public/google*
public/fileauth*
.php_cs.cache
.php-cs-fixer.cache
deploy/helm/custom.yaml
deploy/ansible/inventory.yml
