includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - app
        - config
        - routes
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
