@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "~font-awesome/css/font-awesome.css";

@import "~gentelella/vendors/nprogress/nprogress.css";

@import "~gentelella/vendors/iCheck/skins/all.css";

@import "~gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.css";

@import "~bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css";

@import "~jasny-bootstrap/dist/css/jasny-bootstrap.css";

@import "~gentelella/src/scss/custom";
